<nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'/home'">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'/cars'">Автомобили</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="'/404'">Для клиентов</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="'/404'" tabindex="-1" aria-disabled="true">Контакты</a>
      </li>
      
    <form *ngIf="authService.isLoggedIn()" class="form-inline login-form">
        <a class="btn btn-outline-white" (click)="signOut()">Выход</a>
    </form>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="fixed-bottom">
    <div class="container">
      <div class="d-flex" style="width: 100%;">
        <div class="num-1 mr-auto">
          Телефон поддержки:
          <a class="footer-telephone" href="tel:+73221337228">+7 (322) 133-72-28</a>
        </div>
        <div class="basket">
          <a class="footer-telephone" href="javascript:void(0);">Мой профиль</a>
        </div>
      </div>
    </div>
  </div>
</footer>